spring:
  datasource:
    url: jdbc:mysql://beat_to_the_book_mysql:3306/beat_to_the_book
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update  # 기존 데이터 유지하면서 테이블 자동 생성 -> 배포 시 변경
    show-sql: true  # SQL 쿼리 로깅 활성화 -> 배포 시 변경
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  kafka:
    bootstrap-servers: beat_to_the_book_kafka:9092
    consumer:
      group-id: bookstore-group
      auto-offset-reset: earliest
      enable-auto-commit: true  # 자동 커밋 사용 (필요한 경우 false 후 수동 커밋 구현)
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.trusted.packages: "*"
        spring.json.value.default.type: org.be.recommend.dto.RecommendResponseMessage
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.trusted.packages: "*"

  data:
    redis:
      host: redis
      port: 6379
      timeout: 1m

  docker:
    compose:
      enabled: true
      file: docker-compose.yml  # ! 경로 확인 필요

  config:
    import: "optional:file:BE/.env[.properties]"  # .env 파일에서 환경 변수 로드 # ! 경로 확인 필요

  devtools:
    remote:
      secret: ${DEVTOOLS_REMOTE_SECRET}

server:
  port: 8080  # Spring Boot API 포트

logging:
  level:
    org.springframework.security: DEBUG
    root: INFO
    org.be: INFO

app:
  jwtSecret: ${APP_JWT_SECRET}
  jwtExpirationInMs: ${APP_JWT_EXPIRATION_MS}
  redis:
    use-redis: true
  kafka:
    use-kafka: true
  flask:
    recommend-url: http://beat_to_the_book_flask:5000/api/recommend

management:
  endpoints:
    web:
      exposure:
        include: prometheus
  endpoint:
    prometheus:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true
